/* Social Links */

.social-links {
  display: flex;
  gap: var(--xl-gutter);
  margin-top: var(--xl-gutter);
}

@media only screen and (min-width: 720px) {
  .social-links {
    bottom: var(--xl-gutter);
    position: fixed;
  }
}
