/* Experience */

.experience-title {
  background-color: var(--primary);
  padding: var(--gutter) 0;
  position: sticky;
  top: var(--header-height);
}

.job-title-wrapper {
  background-color: var(--primary);
  padding: var(--gutter) 0;
  position: sticky;
  top: var(--header-height);
}

@media only screen and (min-width: 720px) {
  .experience-title,
  .job-title-wrapper {
    position: initial;
  }
}

.job-title {
  color: var(--headings);
}

.description {
  margin: var(--gutter) 0;
  margin-bottom: var(--xl-gutter);
}

.dates {
  margin: var(--gutter) 0;
  text-transform: uppercase;
}

.pills {
  display: flex;
  gap: var(--gutter);
  flex-wrap: wrap;
}

.pill {
  background-color: var(--links-opacity);
  border: 1px solid var(--links);
  border-radius: var(--gutter);
  color: var(--links);
  padding: var(--gutter);
  font-size: var(--s-font-size);
}
